@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.head{
    height: 55vh;
    background-color: rgb(23, 23, 86);
}

.navbar{
    padding-top: 5px;
    justify-self: center;
    width: 80%;
}

.navbar-nav .nav-link {
    color: white !important; 
}

.navbar-nav .nav-item:first-child .nav-link {
    color: rgb(0, 198, 191) !important; 
}

.search-btn {
    background: none;
    width: 24px;
    height: 24px;
    cursor: pointer; 
    margin-right: 10px;
}

.separator {
    width: 2px;
    height: 24px; 
    margin-right: 10px; 
    margin-left: 10px; 
}

.text-container {
    height: 80%;
    justify-content: center;
    text-align: center;
}

.text-container h1{
    font-size: 70px;
}


/* Вторая секция 
============================================*/

.main1 {
    min-height: 70vh;
}

:root {
    --color1: rgb(0, 198, 191);
    --textColor1: rgb(255, 197, 1);
}

.line {
    height: 3px;
    width: 10%;
    background-color: var(--color1);
}

.selectText {
    text-transform: uppercase;
    color: var(--textColor1);
    padding-top: 3vh;
}


/* Третья секция 
============================================*/
.main2{
    height: 100vh;
    background-color: #eff7fa;
}


/* Четвёртая секция
============================================*/
.main3 {
    height: 100vh;
}
.main3 p {
    opacity: 50%;
}
.main3 button {
    margin-left: 12%;
}


/* Пятая секция
============================================ */
.main4 {
    height: 100vh;
}


/* Шестая-седьмая секцияи
============================================*/
.main5 {
    height: 30vh;
}

.main6 {
    height: 55vh;
    background-color: rgb(23, 23, 86);
}