@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.head{
    height: 60vh;
    background-color: rgb(23, 23, 86);
}

.navbar{
    padding-top: 5px;
    justify-self: center;
    width: 80%;
}

.navbar-nav .nav-link {
    color: white !important; 
}

.navbar-nav .nav-item:first-child .nav-link {
    color: rgb(0, 198, 191) !important; 
}

.search-btn {
    background: none;
    width: 24px;
    height: 24px;
    cursor: pointer; 
    margin-right: 10px;
}

.separator {
    width: 2px;
    height: 24px; 
    margin-right: 10px; 
    margin-left: 10px; 
}

.text-container {
    height: 80%;
    justify-content: center;
}

.text-container h1{
    font-size: 70px;
}


/* Вторая секция 
============================================*/

.main1 {
    height: 100vh;
}

:root {
    --color1: rgb(0, 198, 191);
    --textColor1: rgb(255, 197, 1);
}

.centered-section {
  display: grid;
  place-items: center;
  height: 30%;
}

.line {
    height: 3px;
    width: 10%;
    background-color: var(--color1);
    margin: 0 auto;
}

.selectText {
    text-transform: uppercase;
    color: var(--textColor1);
    padding-top: 5vh;
}